

<mat-card class='my-5 mat-elevation-z5 p-0'>
    <mat-card-header class="mat-card-header">
        <mat-card-title class="p-2" >ADD POST</mat-card-title>
        
    </mat-card-header>

    <mat-divider></mat-divider>

    <form [formGroup]="blogForm"  (ngSubmit)="onFormSubmit()" >
        <mat-card-content class="p-3">

            <mat-form-field class="py-3">
                <mat-label>Blog Title</mat-label>
                <input name="title"  type='text' matInput placeholder="Post Title" formControlName="blog_title" >
                <!-- <mat-error *ngIf="title.errors?.required">Title is required.</mat-error> -->
            </mat-form-field>
            
               
            <ckeditor name="blog description"  matInput rows="6" editorUrl="https://cdn.ckeditor.com/4.14.0/full/ckeditor.js"
            [config]="ckEditorConfig" formControlName='blog_desc' required></ckeditor>
            <!-- <mat-error *ngIf="body.errors?.required && body.touched">Body text is required.</mat-error>
            <mat-error *ngIf="body.errors?.minlength">A minimum of 20 characters is required.</mat-error> -->

        




        </mat-card-content>

        <mat-divider></mat-divider>

        <button mat-raised-button type="submit" class="m-2" color="accent" >ADD</button>
        <button mat-raised-button type="submit" class="m-2" style="background-color: orange;">UPDATE</button>
    </form>

</mat-card>


